body {
    font-family: 'Lato', sans-serif !important;
    margin: 0px;
}

html {
    font-family: 'Lato', sans-serif !important;
    scroll-behavior: smooth;
     !important;
}

/*///////CSS PANTALLA HOME///////*/
.bg-gris {
    background-color: #d8d8d8;
}

.categorias-principales {
    width: 90%;
    height: auto !important;
    margin: -10px auto 0px auto;
}

.caja-categoria {
    width: 180px;
    height: 130px;
    float: left;
    background-color: #fff;
    border: 1px solid #dbdbdb;
}

.cajahover {
    width: 180px;
    height: 130px;
    float: left;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    font-size: 17px;
    font-weight: 400;
    color: #606060;
    font-family: 'Lato', sans-serif !important;
    background-image: url("../img/home/ico1-hogar-muebles.svg");
    background-position: center;
    background-position-y: 30px;
    background-size: 60px;
    background-repeat: no-repeat;
}

.cajahover:hover {
    width: 180px;
    height: 130px;
    float: left;
    background-color: #54c0b0;
    color: #fff !important;
    text-decoration: none !important;
    background-image: url("../img/home/ico1-hogar-muebles-blanco.svg");
    background-position: center;
    background-position-y: 30px;
    background-size: 60px;
    background-repeat: no-repeat;
}

.cont-categ {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 75px 0px 0px 0px;
}

.contenidoLUP {
    width: 87.5%;
    height: auto !important;
    margin: 10px auto 0px auto;
    background-color: #fff;

}

.lo-ultimo-publicado {
    float: left;
    width: 100%;
    height: auto !important;
    margin: 40px auto 0px auto;
    background-color: #fff;
    text-align: center;
    font-size: 20px;
    font-family: 'Lato', sans-serif !important;
    font-weight: 700;
    color: #54c0b0;
    padding-top: 20px;
}

/* --- --- CAROUSEL HOME --- --- */
.carousel-lo-ultimo {
    padding-bottom: 40px;
}

.carousel-lo-ultimo__contenedor {
    position: relative;
    width: 88.5%;
    margin-left: auto;
    margin-right: auto;
}

.carousel-lo-ultimo__anterior,
.carousel-lo-ultimo__siguiente {
    position: absolute;
    display: block;
    width: 40px;
    height: 110px;
    border: none;
    top: calc(50% - 35px);
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    background: none;
    color: #fff;
    opacity: 100%;
}

.carousel-lo-ultimo__anterior:hover,
.carousel-lo-ultimo__siguiente:hover {
    opacity: 60%;
    outline: none !important;
}

.carousel-lo-ultimo__anterior {
    left: -40px;
    outline: none !important;
    color: #e8e8e8;
}

.carousel-lo-ultimo__siguiente {
    right: -40px;
    outline: none !important;
    color: #e8e8e8;
}

.carousel-lo-ultimo__lista {
    overflow: hidden;
}

.carousel-lo-ultimo__elemento {
    text-align: center;
    width: 280px !important;
}

.carousel-lo-ultimo__indicadores .glider-dot {
    display: block;
    width: 18px;
    height: 18px;
    background: #54c0b0;
    opacity: 1;
    border-radius: 10px !important;
}

.carousel-lo-ultimo__indicadores .glider-dot:hover {
    opacity: .5;
}

.carousel-lo-ultimo__indicadores .glider-dot.active {
    opacity: 1;
}

.glider-slide img {
    max-width: 100% !important;
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

i.fas.fa-chevron-right,
i.fas.fa-chevron-left {
    font-size: 30px !important;
}

.glider-dots {
    user-select: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 0px 0px 20px 0px;
}

.glider-track {
    width: 2880px !important;
}

button.glider-dot.active {
    opacity: 0.5 !important;
}

button.glider-dot {
    outline: none !important;
}

.caja-prod {
    background-color: #fff;
    width: 245px;
    height: auto;
    border-radius: 15px;
    float: left;
    line-height: 21px;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    margin: 15px;
}

.caja-prod:hover {
    background-color: #fff;
    width: 246px;
    height: auto;
    border-radius: 16px;
    float: left;
    line-height: 21px;
    /* offset-x | offset-y | blur-radius | spread-radius | color */

    margin: 15px;
}

.cambios_realizados {
    font-size: 14px;
    color: #54c0b0;
    text-decoration: none;
}

.caja-prod h3 {
    color: #24282f;
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 0rem !important;
    margin-top: 1.5rem;
}

.caja-prod p {
    color: #24282f;
    font-size: 14px;
    font-weight: 400;
}

.cont-calificacion {
    width: 100%;
    height: auto;
    padding: 10px 0px 10px 25px;
}

.calif_articulo,
.calif_estrellas {
    width: 50%;
    float: left;
}

.calif_articulo a {
    color: #54c0b0;
}

/* VALORACIÓN DE ESTRELLAS */
#form p {
    text-align: left;
}

.form-stars {
    text-align: left;
    padding-left: 10px;
}

#form label {
    font-size: 14px;
}

input[type="radio"] {
    display: none;
}

label {
    color: grey;
}

.clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
    font-size: 12px;
}

label:hover,
label:hover~label {
    color: orange;
}

input[type="radio"]:checked~label {
    color: orange;
}

.btn-trueke-prod {
    width: 100%;
    height: auto;
    text-align: center;
    float: left;
    padding-top: 15px;
    padding-bottom: 30px;
}

.btn-trueke-prod a {
    padding: 8px 80px 10px 80px;
    color: #54c0b0;
    font-size: 16px;
    border-radius: 40px;
    border: 2px solid #54c0b0;
}

.btn-trueke-prod a:hover {
    padding: 8px 80px 10px 80px;
    color: #ffffff;
    background-color: #54c0b0;
    font-size: 16px;
    border-radius: 40px;
    border: 2px solid #54c0b0;
    text-decoration: none;
}

/* SECCIÓN DEL FOOTER HOME INTERIOR */
.footer-interior {
    width: 100%;
    height: auto;
    background-color: #24282f;
    float: left;
    margin: 40px 0px 0px 0px;
}

.cajaizq_footer {
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 70px 0px 60px 70px;
}

.cajaizq_footer ul a {
    color: #8b97a5;
    font-size: 14px;
    font-weight: 400;
}

.cajaizq_footer li h5 {
    font-size: 17px;
    color: #fff;
    font-weight: 400;
}

.cajaizq_footer ul {
    list-style-type: none !important;
    list-style: none !important;

}

.rrss {
    padding: 20px 0px 0px 32px;
}

.rrss img {
    margin: 0px 10px 0px 0px;
}

.cajader_footer {
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 65px 0px 60px 70px;
}

.cajader_footer h5 {
    font-size: 22px;
    color: #fff;
    font-weight: 700;
}

textarea {
    border-radius: 10px;
    background-color: #3a3e44;
    border: none;
    text-decoration: none;
    outline: none;
    width: 80%;
    height: 100px;
    color: #8b97a5;
    font-weight: 300;
    padding: 5px 15px 5px 15px;
    margin: 30px 0px 0px 0px;
}

.btn-enviar-mensaje {
    border: none;
    background-color: #54c0b0;
    padding: 8px 60px;
    border-radius: 40px;
    color: #ffffff;
    font-size: 17px;
    outline: none !important;
    margin-top: 30px;
}

.btn-enviar-mensaje:hover {
    border: none;
    background-color: #00ffda;
    padding: 8px 60px;
    border-radius: 40px;
    color: #ffffff;
    font-size: 17px;
    outline: none !important;
    margin-top: 30px;

}

.legal {
    width: 100%;
    height: auto;
    float: left;
    text-align: center;
    color: #8b97a5;
    background-color: #24282f;
    font-size: 16px;
    font-weight: 300;
    padding: 15px 0px;
    border-top: 1px solid #303338;
}

.like_prd label:hover,
.like_prd label:hover~label {
    color: white !important;
        text-decoration: none;
    background-color: #ffffff26;
    border-radius: 40px;
    padding: 8px 9px 8px 9px;
}

.like_prd input[type="radio"]:checked~label {
    color: white !important;
    text-decoration: none;
    background-color: #ffffff26;
    border-radius: 40px;
    padding: 8px 9px 8px 9px;
}

.like_prd {
position: absolute;
    z-index: 100;
    top: 195px;
    right: 12px;
}
.like_prd label {
    padding: 9px;
}

/*
Gris Oscuro
#24282f

Verde
#54c0b0
*/