
body {
    font-family: 'Lato', sans-serif !important;
    margin: 0px;
    background-color: #ffffff !important;   
}

html {
    font-family: 'Lato', sans-serif !important;
    scroll-behavior: smooth !important;
}
.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.title-selecc-prd {
    float: left;
    width: 100%;
    height: auto;
}

.titulo_publicacion {
    width: 90%;
    height: auto !important;
    margin: 40px auto 0px auto;
    background-color: #fff;
    text-align: left;
}
.titulo_publicacion h1 {
    font-size: 20px;
    font-family: 'Lato', sans-serif !important;
    font-weight: 700;
    color: #54c0b0;
}

@media (min-width: 576px){
.modal-dialog {
    max-width: 100% !important;
    margin: 1.75rem auto;
    width: 88%;
}

}
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #f2f2f2;
    background-clip: padding-box;
    border: 0px solid rgba(0,0,0,.2);
    border-radius: 1rem;
    outline: 0;
}
.contenido-publicar {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.contenido-publicar label {
    color: #24282f !important;
    font-size: 17px;
    font-weight: 300;
    width: 120px;
    height: auto;
    text-align: left;
    vertical-align: top;
    padding: 6px 0px 0px 0px;
}
.contenido-publicar select {
    color: #24282f !important;
    font-size: 17px;
    font-weight: 300;
    padding: 8px 15px 10px 15px;
    border: none;
    border-radius: 40px;
    background-color: #fff;
    width: 70%;
    border: none !important;
    outline: none !important;
}

.contenido-publicar span {
    background-color: #fff;
    padding: 10px 17px 12px 0px;
    border-radius: 40px;
}
.contenido-publicar input {
    color: #8b97a5 !important;
    font-size: 17px;
    font-weight: 300;
    padding: 8px 15px 10px 15px;
    border: none;
    border-radius: 40px;
    background-color: #fff;
    width: 73%;
    border: none !important;
    outline: none !important;
}
.contenido-publicar textarea {
    color: #8b97a5 !important;
    font-size: 17px;
    font-weight: 300;
    padding: 8px 15px 10px 15px;
    border: none;
    border-radius: 15px;
    background-color: #fff;
    width: 73%;
    height: 90px;
    border: none !important;
    outline: none !important;
    margin: 0px;
}
input[type="checkbox"] {
    color: #8b97a5 !important;
    font-size: 17px;
    font-weight: 300;
    padding: 0px !important;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    width: auto !important;
    border: none !important;
    outline: none !important;
}
.cajadescrip {
    width: 100%;
    height: auto;
}
.cajaestado {
    width: 100%;
    height: auto;
}
.cajaestado span {
        color: #8b97a5 !important;
    font-size: 17px;
    font-weight: 300;
    padding: 15px 25px 15px 25px;
    margin: 0px 0px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    width: auto;
    border: none !important;
    outline: none !important;
}
.cajaestado label {
    color: #24282f !important;
    font-size: 17px;
    font-weight: 300;
    width: 120px;
    height: auto;
    text-align: left;
    vertical-align: top;
    padding: 0px 0px 0px 0px;
}

.cajadescrip input[type="file"]#subirimagen {
 width: 0.1px;
 height: 0.1px;
 opacity: 0;
 overflow: hidden;
 position: absolute;
 z-index: -1;

}
.cajadescrip label[for="subirimagen"] {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    background-color: #f2fcfb;
    background-image: url("../img/ico-mas.svg");
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
}
label.cargaimg {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    background-color: #ffffff;
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
    margin: 5px 5px 5px 5px !important;
}

.cajadescrip b {
    font-size: 12px;
    color: #8b97a5;
    text-decoration: none;
    font-weight: 300;
    line-height: 10px !important;
}
.modal-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 3rem 11.5rem;
    border-top: 1px solid #e9ecef;
}

/*
Gris Oscuro
#24282f

Verde
#54c0b0
*/